# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PyCharm_workspace\bearingPlatform_hua\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
